@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Heebo:wght@500&family=Kanit:wght@300&family=Playfair+Display:ital@1&display=swap');
*{
    font-family: 'Barlow Condensed', sans-serif;
}
/* estilos barra de navegacion */

html{
    scroll-behavior: smooth;
   
}
.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
   
   
}
body{
    background-color: #eef2ff;
}
.logo-nav{
    width: 50px;
    margin-top: 10px;
}
.ancor{
    color: aqua;
    cursor: pointer;
}


/* inicio sesion 1: nosotros */
.section-inicio{

    width: 100%;
    padding: 5rem;
    padding-top: 10rem;
    display: flex;
    gap: 8rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
   
    

}
.img-section1{
    width: 300px;
    border-radius: 50%;
}

.title{
    color:blueviolet;
   
}
.titlemargin{
    margin-left: 5rem;
    background-color: aquamarine;
}
.datosContact{
    font-weight: bold;
}





/* no tocar esta sesion, aqui se realizara el codigo responsivo para computadores */